<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
 
  <div class="jumbotron">
      <div class="p-3 mb-2 bg-primary text-white">
          <img src="https://www.themandarin.com.au/content/uploads/2016/05/wallpaper-standard-great-barrier-reef-021.jpg"
          alt="Visit Australia"
          width=auto
          height=auto> 
      <h1>Welcome to Australia!</h1>
      <p>Here you can keep track of all your visits around the country</p>
      <a class="push" href="/addTrip">GET STARTED!</a>
  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>